<div class="conversation-info-container">
    <div class="conversation-avatar-container">
        <img class="mess-avatar" src="@Avatar" />
    </div>
    <div class="conversation-name-container">
        <span class="conversation-name">@Name</span>
    </div>
    @RightExtraContent
</div>
