$item-active-bg: #f3f3f5;

.item {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    border-radius: 16px;
    height: 72px;
    cursor: pointer;

    &:hover {
        background-color: $item-active-bg;
    }

    .avatar-container {
        width: 48px;
        min-width: 48px;
        height: 48px;
        margin-right: 8px;
    }

    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.item-active {
    background-color: $item-active-bg;
}
