@if (WrappedResults?.Conversations is not null && WrappedResults.Conversations.Any())
{
    <span>Conversations</span>
    @foreach (var conversation in WrappedResults.Conversations)
    {
        <ConversationListItem Conversation="conversation" AfterConversationClicked="@StopSearchingCallback" />
    }
}

@if (WrappedResults?.Friends is not null && WrappedResults.Friends.Any())
{
    <span>Friends</span>
    @foreach (var user in WrappedResults.Friends)
    {
        <UserListItem User="user" AfterUserClicked="@StopSearchingCallback" />
    }
}

@if (WrappedResults?.MorePeople is not null && WrappedResults.MorePeople.Any())
{
    <span>More people</span>
    @foreach (var user in WrappedResults.MorePeople)
    {
        <UserListItem User="user" AfterUserClicked="@StopSearchingCallback" />
    }
}