<Virtualize Items="(ICollection<UserResponseDto>)Users" Context="user" TItem="UserResponseDto">
    <ListItem OnClick="@(() => UserClick(user))">
        <span class="user-info">@user.FirstName @user.LastName</span>
    </ListItem>
</Virtualize>